@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --active-color: hsl(178, 100%, 50%);
    --font-color: hsl(215, 51%, 70%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: var(--font-color);
    background-color: var(--main-bg);
}

.container {
    margin: 50px auto;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.35);
    background-color: var(--card-bg);
    max-width: 400px;
    padding: 22px 28px;
    border-radius: 18px
}

.image-container {
    position: relative;
}

.principal-img {
    display: block;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.hover-img {
    position: absolute;
    height: 344px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border-radius: 8px;
    transition: .5s ease;
    background-color: hsla(178, 100%, 50%, 0.601);
}

.view-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container:hover .hover-img {
    opacity: 1;
    cursor: pointer;
}


h1 {
    font-size: 1.5em;
    color: #fff;
    margin: .8em 0;
}

h1:hover {
    color: var(--active-color);
    cursor: pointer;
}

.description {
    margin-right: 9px;
    margin-bottom: 1.5em;
    font-size: 1.1em;
}

.informations {
    display: flex;
    justify-content: space-between;
}

.price-value {
    font-weight: 600;
    color: var(--active-color);
    margin-left: .5em;
}

.icon-clock {
    margin-right: .3em;
}

.creator {
    display: flex;
    align-items: center;
    padding: 16px 0 10px 0;
    margin-top: 30px;
    border-top: 1px solid hsl(215, 32%, 27%);
}

.img-creator {
    width: 12%;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 1em;
}

.creator-name a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.creator-name a:hover {
    color: var(--active-color);
    cursor: pointer;
}

.attribution {
    color: #f5f5f5;
    margin-top: 3vh;
}

.attribution a {
    text-decoration: none;
    color: var(--font-color);
}

.attribution a:hover {
    color: var(--active-color);
}